{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div>
        <h1>Buy</h1>
        <form action="/buy" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="symbol" placeholder="Stock" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="1" required>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Buy</button>
            </div>
        </form>
    </div>
{% endblock %}