{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div>
        <h1>Portfolio</h1>
        <div class="table mx-auto w-50">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                        <tr>
                            <td>{{ stock.symbol }}</td>
                            <td> {{ stock.name }}</td>
                            <td>{{ stock.total_shares }}</td>
                            <td>{{ stock.price | usd  }}</td>
                            <td>{{ (stock.price * stock.total_shares) | usd  }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                        <td class="border-0 text-center">{{ cash | usd }}</td>
                    </tr>
                    <tr>
                        <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                        <td class="border-0 text-center">{{ cash | usd }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}